.todo{
      margin: 7px;
      padding: 4px;
      border: 2px solid greenyellow;
      width: 500px;
      height: 140px;
      /* line-clamp: ; */
      /* display: flex; */
      background-color: black;
      color: chartreuse;
      border-radius: 6px;

}

.main{
      background-color: black;
      color: chartreuse;
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: row;
      /* margin-left:50px */

}
